@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
body {
    background: #FFFAF0;
    text-align: center;
    font-family: "Jost";
    font-size: 100%;
}
.smenu-links {
    list-style: none;
    color: #FFFAF0;
}
.smenu-links a {
    color: #FFFAF0;
}
a {
    text-decoration: none;
}
h2, h3 {
    color: black;
}
header {
    max-width: 1200px;
    margin: 40px auto;
    border-bottom: 3px solid #897C70;
    letter-spacing: .999rem;
}
.sidebar {
    position: fixed;
    margin-top: 20px;
    text-align: left ;
    padding-right: 50px;
    padding-top: 40px;
    line-height: 40px;
    background-color: #8A9EA0;
    height: 250px;
    border-radius: 10px;
}
.grid-container {
    color: #897C70;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 60px;
    max-width: 1200px;
    margin: 20px auto;
    
}
article img, div img {
    display: block;
    width: 100%;
    height: auto;
    border: 7px double #FFBB40;
    border-radius: 10%;
}
article.about-me {
    grid-area: 1 / 2 / 1 / 6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
    border-bottom: 1px solid #897C70;
    padding-bottom: 40px;
}
article.experience {
    display: grid;
    grid-area: 2 / 2 / 2 / 6 ;
    grid-template-columns: 2fr 1fr;
    gap: 60px;
    align-items: center;
    border-bottom: 1px solid #897C70;
    padding-bottom: 40px;
}
article.hobbies {
    display: grid;
    grid-area: 3 / 2 / 3 / 6;
    grid-template-columns: auto;
    align-items: center;
    border-bottom: 1px solid #897C70;
    padding-bottom: 40px;
}
article.travel {
    display: grid;
    grid-area: 4 / 2 / 4 / 6;
    
}
article.img-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: 5 / 2 / 5 / 6;
    gap: 20px;
    border-bottom: 1px solid #8A9EA0;
    padding-bottom: 40px;
}
 .container {
    position: relative;
    height: max-content;
 }
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}
.container:hover .overlay {
    opacity: 1;
}
.text {
    color: #FFBB40;
    font-size: 30px;
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
@media screen and (max-width: 1213px) {
    .sidebar {
        display: none;
    }
}
@media screen and (max-width: 960px) {
     article.about-me, article.experience, article.img-gallery {
        grid-template-columns: 1fr;
    } 
}
